# Database
DATABASE_URL="postgresql://user:password@host/database"

# Admin Auth
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin123"

# Cloudflare R2
R2_ACCOUNT_ID="your_account_id"
R2_API_TOKEN_VALUE="your_api_token"
R2_ACCESS_KEY_ID="your_access_key_id"
R2_SECRET_ACCESS_KEY="your_secret_access_key"
R2_BUCKET="your_bucket_name"
R2_API_ENDPOINT="https://your_account_id.r2.cloudflarestorage.com"
R2_API="https://your_public_r2_url.r2.dev"
